<p><small><a href="javascript:void(0)" class="text-info" popoverTitle="Terms Of Use" placement="top" [popover]="terms"
            container="body" outsideClick="true">Codiac Terms</a> and
        <a href="javascript:void(0)" class="text-info" popoverTitle="Terms Of Use" placement="top" [popover]="terms"
            container="body" outsideClick="true">Privacy</a>.</small></p>

<ng-template #terms>
    <div>
        The following terms and conditions govern your access to Codiacs website and services.
        <ol>
            <li>
                Acceptance- By using this service, you signify your agreement to the terms and conditions contained
                herein
                and
                all other policies that may be updated from time to time by Codiac.
                If you object to these terms, please do not use Codiac website and services
            </li>
            <li>
                License- By using this service, Codiac is allowing you non-exclusinve, revocable rights to access the
                Services and you agree not duplicate, license or re-sell any content or services obtained through
                Codiac.
                Our services are protected through intellectual property laws.
            </li>
            <li>
                Payment- By signing up for a monthly plan, you are agreeing to pay for all charges made per the
                requirements
                of the subscription plan. The subscription will automatically renew at the the end of the term unless
                you
                cancel.
            </li>
            <li>
                Cancellation- You may cancel the subscription at any time and the cancellation will take effect of the
                next
                billing period.
            </li>
            <li>
                Indemnification- You will defend, indemnify and hold harmless Codiac and employees from all demands,
                proceedings, and liabilities of any nature.
            </li>
        </ol>
    </div>
</ng-template>